<div class="card-trip">
  <div class="latest">
    <%# <img src="https://images.unsplash.com/photo-1522787345986-d5c7885a889e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format" alt="image"> %>
    <%= cl_image_tag program.medias.first.key %>
    <div class="more-info">
      <%= link_to "More info", program_path(program), class: 'btn btn-primary' %>
    </div>
    <div class="card-trip-infos">
      <div class="avatar-card">
        <%= link_to user_profile_path(program.user) do %>
          <%= cl_image_tag program.user.profile_picture.key %>
        <% end %>
        <%# <img src="https://kitt.lewagon.com/placeholder/users/krokrob" alt="user avatar"> %>
      </div>
      <div class="card-trip-infos-desc">
        <h2><%= program.name %></h2>
        <p><strong><%= program.discipline %></strong> - <%= program.user.first_name %>'s program - <strong><%= pluralize program.duration, 'month' %></strong></p>
        <p><em>Level: </em><%= program.level %></p>
        <p><em>Target: </em><%= program.target %></p>
      </div>
      <div class="card-trip-price">
        <strong><%= program.price %>€</strong>
      </div>
    </div>
  </div>
</div>
