<div class="mx-4">
  <%= simple_form_for @program do |f| %>
    <%= f.input :name, class: "form-control" %>
    <%= f.input :discipline, class: "form-control", selected: 'Yoga', collection: Program::DISCIPLINES %>
    <%= f.input :target, class: 'form-control' %>
    <%= f.input :price, label: 'Price (€)', class: "form-control", input_html: {min: 0} %>
    <%= f.input :duration, label: 'Average length (months)', selected: 4, class: "form-control", collection: Program::DURATIONS %>
    <%= f.input :level, class: "form-control", collection: Program::LEVELS, selected: 'Beginner' %>
    <%= f.input :medias, as: :file, required: true, input_html: { multiple: true } %>
    <%= f.input :description, required: true %>
    <%= f.input :language, class: "form-control", collection: Program::LANGUAGES, selected: 'English' %>

    <div class="d-flex justify-content-center">
      <div class="text-center">
        <p><%= f.button :submit, "Submit", class: "btn btn-primary" %></p>
        <p><%= link_to "Cancel", dashboard_path %></p>
      </div>
    </div>
  <% end %>
</div>
