<div class="container">
  <h1>Program details :</h1>
  <p><%= @program.discipline %></p>
  <p><%= @program.level %></p>
  <p><%= @program.target %></p>
  <p><%= @program.duration %></p>
  <p><%= @program.teacher.user.first_name %></p>
  <p><%= @program.price %>€</p>
  <% @program.medias.each do |media| %>
    <%= cl_image_tag media.key, height: 300, width: 400, crop: :fill %>
  <% end %>
</div>

<%# link to teacher %>
<p>Teached by <span><%= link_to user_profile_path(@program.teacher) do %>
          <%= @program.teacher.user.first_name %>
        <% end %></span></p>

<%# link to each batch %>
<% @program.batches.each do |batch| %>
  <%= link_to 'batch', program_batch_path(@program.id, batch.id)%>
<% end %>