<div class="container">
  <h2>My programs:</h2>
  <% @programs.each do |program| %>
    <p><%= program.name %></p>
  <% end %>

  <h2>My current registrations:</h2>
  <% if current_user.batch.nil? %>
    <p>You are not registered yet. You can <%= link_to "browse programs", programs_path %></p>
  <% else %>
    <p>Batch number <%= @batch.id %> of "<%= @batch.program.name %>" program. => <%= link_to "[See batch info]", program_batch_path(@batch.program, @batch) %></p>
  <% end %>
</div>
