<div class="hero-banner">
  <div class="container">
    <div class="hero-banner-content">
      <h1>Welcome to Our School</h1>
      <p>Discover our brand new programs to learn new skills and achieve your goals!</p>
      <p>Find the program that suits you best and join now!</p>
      <br>
      <%# <div class="col-4">
        <%= render 'programs/search-form' %>
      <%# </div> %>
    </div>
  </div>
</div>

<div class="container mt-3 mb-3">
  <div class="row">
    <div class="col-12 text-center mb-4">
      <h1>Our latest program</h1>
    </div>
    <div class="col-md-12">
      <%= render 'programs/card', program: Program.last %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center mb-2 mt-4">
      <h1>Discover our programs below</h1>
    </div>
  </div>

  <div class="row">
    <% @programs.first(6).each do |program| %>
      <div class="col-md-4 mt-3">
        <div class="bike-card">
          <%= render 'programs/card', program: program %>
          <div class="bike-card-actions">

          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-12 mt-4 text-center">
      <%= link_to "See all programs", programs_path, class: 'btn btn-outline btn-outline-danger', data: { turbo: false } %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-4 text-center">
      <h1>Meet our teachers</h1>
    </div>
  </div>

  <div class="teacher-cards d-flex">
    <% @teachers = User.where(teacher: true).last(4) %>
    <% @teachers.each do |teacher| %>
      <%= render 'programs/teacher', user: teacher %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-12 mt-4 text-center">
      <%= link_to "See all teachers", teachers_path, class: 'btn btn-outline btn-outline-danger' %>
    </div>
  </div>
</div>
