<div class="container">
  <h1>Titre h1</h1>
  <h2>Titre h2</h2>
  <h3>Titre h3</h3>
  <h4>Titre h4</h4>
  <p>Everyone has the right to freedom of thought, conscience and religion; this right includes freedom to change his religion or belief, and freedom, either alone or in community with others and in public or private, to manifest his religion or belief in teaching, practice, worship and observance. Everyone has the right to freedom of opinion and expression; this right includes freedom to hold opinions without interference and to seek, receive and impart information and ideas through any media and regardless of frontiers. Everyone has the right to rest and leisure, including reasonable limitation of working hours and periodic holidays with pay.</p>
  <%= link_to "#", class: "btn btn-primary" do %>
    Primary button
  <% end %>

  <%= link_to "#", class: "btn btn-secondary" do %>
    Secondary button
  <% end %>

  <%= link_to "#", class: "btn btn-success" do %>
    Success button
  <% end %>

  <%= link_to "#", class: "btn btn-warning" do %>
    Warning button
  <% end %>

  <%= link_to "#", class: "btn btn-danger" do %>
    Danger button
  <% end %>

  <%= link_to "#", class: "btn btn-info" do %>
    Info button
  <% end %>


</div>
