<div class="container">
  <h4>All batches for program <span class="text-pink"><%= @program.name %></span> created by <%= @program.user.first_name %></h4>
  <% @batches.each do |batch| %>
    <p>Starts at : <%= batch.start_time.strftime("at %I:%M%p on %d/%m/%Y") %></p>
    <p>Ends at : <%= batch.end_time.strftime("at %I:%M%p on %d/%m/%Y") %></p>
    <p>Maximum number of students : <%= batch.max_students %></p>
    <%= link_to "More info on batch", program_batch_path(@program, batch) %>
  <% end %>
  <div>
    <%= link_to "Back to program description", program_path(@program) %>
  </div>
</div>
