<div class="container">
  <h2>Info about batch #<%= @batch.id %></h2>
  <p>Starts at <%= @batch.start_time.strftime("%l:%M %p on %A, %b %e, %Y") %></p>
  <p>Ends at <%= @batch.end_time.strftime("%l:%M %p on %A, %b %e, %Y") %></p>
  <p><%= @batch.max_students %> students maximum. (<%= @batch.users.count %>/ <%= @batch.max_students %> currently registered)</p>

  <% if current_user.programs.include?(@batch.program) %>
    <% @batch.program.lessons.each do |lesson| %>
    <div class="container">
      <ul><li><h3><%= lesson.title %></h3></li></ul>
      <% lesson.slots.each do |slot|%>
        <ul><li><%= slot.start_time %></li></ul>
      <% end %>
      <p> +Add a Slot</p>
      <% @lesson = lesson %>
      <% @slot = Slot.new %>
      <%= simple_form_for [@lesson, @slot], method: :post, url: lesson_slots_path(lesson), data: { turbo: false } do |f| %>
        <%= f.hidden_field :batch_id, value: @batch.id %>
        <%= f.input :start_time, class: "form-control"  %>
        <%= f.input :duration, class: "form-control"  %>
        <%= f.input :access_link, class: "form-control" %>
        <%= f.submit 'add a slot', class: 'btn btn-primary' %>
      <% end %>
    </div>
    <% end %>
  <% end %>




<% if @batch.users.count < @batch.max_students%>  <%# condition for max students %>

  <% unless current_user.teacher == true %>
    <% @user = User.new() %>
    <% if current_user.batch == @batch %>
      <p>You are <span class="text-blue">registered</span> to this batch. </p>
    <% else %>
      <%= simple_form_for @user, method: :post, url: batch_students_path(@batch), data: { turbo: false } do |f| %>
        <%= f.submit 'Register to this batch', class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  <% end %>
<% else %> <%# else for max students %>
  <%= link_to 'This batch is full, please select another one', program_batches_path(@batch.program) %>
<% end %> <%# end for max students %>


<br>
  <%= link_to "Back to all batches for selected program", program_batches_path(@batch.program) %>
</div>
