<div class="container">
  <h2>Info about batch #<%= @batch.id %></h2>
  <p>Starts at : <%= @batch.start_time.strftime("at %I:%M%p on %d/%m/%Y") %></p>
  <p>Ends at : <%= @batch.end_time.strftime("at %I:%M%p on %d/%m/%Y") %></p>
  <p>Maximum number of students : <%= @batch.max_students %></p>
  <%= link_to "Back to all batches for selected program", program_batches_path(@batch.program) %>
</div>
